* {
    -fx-background-color: white;
}

#case1, #case2, #case3, #case4, #case5 {
    -fx-background-color: white;
    -fx-text-fill: #0d47a1;
    -fx-border-radius: 5px;
    -fx-border-color: #0d47a1;
}

#case1:hover, #case2:hover, #case3:hover, #case4:hover, #case5:hover {
    -fx-border-radius: 5px;
    -fx-background-color: #add8e6;
    -fx-border-color: transparent;
}

#start {
    -fx-background-color: #33b5e5;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: #33b5e5;
    -fx-padding: 5 15 5 15;
}

#start:hover {
    -fx-background-color: #0099CC;
    -fx-border-color: transparent;
}

#ins, #welcome {
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-min-height:50px;
    -fx-padding:5 15 5 15;
    -fx-background-color: white;
}

#opt {
    -fx-border-color: #33b5e5;
    -fx-text-fill: #33b5e5;
    -fx-border-radius: 5px;
    -fx-padding:3 10 3 10;
    /*-fx-background-color: #33b5e5;*/
}

#welcome {
    -fx-font: 20px Tahoma;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
    -fx-stroke: black;
    /*-fx-stroke-width: 1;*/
}

/*#opt:hover {
    -fx-text-fill: red;
}*/