#gridPane{
    -fx-background-color: #F5F7FA;
}

#intro{
    -fx-alignment: center;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-padding:5 15 5 15;
    -fx-control-inner-background:white;
    -fx-font: 20px "Courier New";
    -fx-background-color: white;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 0);
}

#intro * {
    -fx-background-color: white;
    -fx-text-alignment: justify;
}

#start {
    -fx-background-color: #33b5e5;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-border-color: #33b5e5;
    -fx-padding: 5 15 5 15;
    -fx-pref-height:5;
}

#start:hover {
    -fx-background-color: #0099CC;
    -fx-border-color: transparent;
}

#opt {
    -fx-border-color: #33b5e5;
    /*-fx-background-fills: #33b5e5;*/
    -fx-border-radius: 5px;
    -fx-padding:1 10 1 10;
    -fx-background-color: #33b5e5;
    -fx-pref-width: 130;
    -fx-text-fill: white;
}

#opt * {
    -fx-text-fill: white;
}

#opt:hover *{
    -fx-text-fill: #0099CC;
}
